@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    font-family:'Press Start 2P';
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(61, 92, 49);
    background-image: url(../img/pice.png);
}
h1{
    color:white;
    text-align: center;
    margin: 100px 0 20px 0;
}

section{
    background: white;
    border-radius: 20px;
    display: flex;
    margin: auto;
    max-width: 40vw;
    padding: 1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

.button-area{
    margin: auto;
    width: 100%;
}

button{
    background: rgba(61, 92, 49, 0.2);
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
    padding: .5rem 1rem;
    width: 40%;
}

.clicked{
    background: rgb(61, 92, 49);
}

button:hover{
    background: rgb(61, 92, 49);
}

.btn-players{
    padding: .5rem 2rem;
    width: 15%;
}

.start-game{
    background: rgba(34, 34, 9);
    color:white;
    margin-left: 30%;
}

footer{
    color:white;
    margin-top: 50px;
    text-align: center;
}